.profile {
  padding-top: 100px;
  padding-left: 100px;
  max-width: 60%;
}
.container {
  padding: 0 15px;
  max-width: 1100px;
  margin: auto;
  padding: 0;
}
.row {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logOut:hover {
  cursor: pointer;
  color: white;
}

.left {
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 30%;
  gap: 20px;
}

.right {
  width: 70%;
}
