.option {
    margin-bottom: 8px;
}

.card {
    border: 1px dashed #4C4CFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    margin-bottom: 32px;
    width: 45%;
    position: relative;
  }

img {
    margin-bottom: 4px;
    max-width: 240px;
}

.price {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.price span {
    margin-right: 4px;
}

.description {
    margin: 0;
}


