.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  min-height: 350px;
  align-content: center;
}

.ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  margin-bottom: 20px;
  min-height: 50px;
}

.img {
  width: 480px;
  margin-bottom: 16px;
}

.name {
  margin-bottom: 32px;
}
