.list {
    display: flex;
}

.tabs {
    display: flex; 
    margin-bottom: 40px;
}

.h2 {
    margin: 0;
    margin-bottom: 24px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
