.header {
    display: flex;
    align-items: center;
    justify-content: center;
     padding-top: 16px;
    padding-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
    background-color: #1C1C21;
}

.navItem {
    min-width: 178px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
}

.constructorIcon {
    margin-right: 8px;
}